In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
# import tensorflow as tf

ModuleNotFoundError: No module named 'matplotlib'

In [3]:
df = pd.read_csv("DailyDelhiClimateTest.csv")

In [4]:
df.head(10)

         date   meantemp   humidity  wind_speed  meanpressure
0  2017-01-01  15.913043  85.869565    2.743478     59.000000
1  2017-01-02  18.500000  77.222222    2.894444   1018.277778
2  2017-01-03  17.111111  81.888889    4.016667   1018.333333
3  2017-01-04  18.700000  70.050000    4.545000   1015.700000
4  2017-01-05  18.388889  74.944444    3.300000   1014.333333
5  2017-01-06  19.318182  79.318182    8.681818   1011.772727
6  2017-01-07  14.708333  95.833333   10.041667   1011.375000
7  2017-01-08  15.684211  83.526316    1.950000   1015.550000
8  2017-01-09  14.571429  80.809524    6.542857   1015.952381
9  2017-01-10  12.111111  71.944444    9.361111   1016.888889

In [6]:
df.isna().sum()

date            0
meantemp        0
humidity        0
wind_speed      0
meanpressure    0
dtype: int64